body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    flex: 1;
}

footer{
    align-self: flex-end;
}

button {
    background-color: rgb(23, 111, 218);
    color: white;
    border: none;
    padding: 9px 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(33, 113, 183);
}